<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <% if current_user != nil %>
      <% if current_user.has_role? :admin %>
        <fieldset>
          <tr class="field">
            <td><%= f.label :Rol %></td>
              <td>
                <%= f.label(:admin) do %>
                  <%= hidden_field_tag(:admin, 0) %>
                  <%= check_box_tag(:admin, 1, @user.has_role?(:admin)) %>
                  Administrator
                <% end %>
              </td>
             <tr>
             <td><i><p>Er mag maar één rol</p><p> geselecteerd zijn<p></i></td>
             <td>
               <%= f.label(:teacher) do %>
                  <%= hidden_field_tag(:teacher, 0) %>
                  <%= check_box_tag(:teacher, 1, @user.has_role?(:teacher)) %>
                  Medewerker
                <% end %>
            </tr>
            <tr>
            <td></td>
            <td>
              <%= f.label(:cursist) do %>
                <%= hidden_field_tag(:cursist, 0) %>
                <%= check_box_tag(:cursist, 1, @user.has_role?(:cursist)) %>
                Cursist
              <% end %>
            </tr>
           </fieldset>
        <% end %>
      <% end %>

    <tr class="field">
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email %></td>
    </tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :password_confirmation %></td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :voornaam %></td>
      <td><%= f.text_field :voornaam %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :tussenvoegsel %></td>
      <td><%= f.text_field :tussenvoegsel %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :achternaam %></td>
      <td><%= f.text_field :achternaam %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :adres %></td>
      <td><%= f.text_field :adres %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :woonplaats %></td>
      <td><%= f.text_field :woonplaats %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :telefoon %></td>
      <td><%= f.text_field :telefoon %></td>
    </tr>
    <tr class="actions">
      <td></td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>
