<h2 class="index-title">Overzicht van gebruikers</h2>
<% if can? :manage, User %>
  <p class="index-new"><%= link_to 'Nieuwe gebruiker', new_user_path %></p>
<% end %>

<table class="index-table">
  <thead>
    <tr>
      <% if can? :manage, Course %>
        <th>Email</th>
      <% end %>
      <th>Voornaam</th>
      <th>Tussenvoegsel</th>
      <th>Achternaam</th>
      <th>Rol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <% if user == current_user %>
      <tr class="blue">
    <% else %>
      <tr>
    <% end %>
      <% if can? :manage, Course %>
          <td><%= user.email %></td>
        <% end %>
        <td><%= user.voornaam %></td>
        <td><%= user.tussenvoegsel %></td>
        <td><%= user.achternaam %></td>
        <td>
          <!-- Selecting the role of the user -->
          <% if user.has_role? :admin %>
          <p class="beheerder">Beheerder</p>
          <% elsif user.has_role? :teacher %>
          <p class="medewerker">Medewerker</p>
          <% elsif user.has_role? :cursist %>
          <p class="cursist">Cursist</p>
          <% end %>
        </td>
        <td><%= link_to 'Bekijk', user %></td>

        <!-- Edit and delete buttons only visible for users that can manage users -->
        <% if can? :manage, User %>
          <td><%= link_to 'Wijzig', edit_user_path(user) %></td>
          <td><%= link_to 'Verwijder', user, method: :delete, data: { confirm: 'Weet u het zeker?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
