<h2 class="index-title">Overzicht van gebruikers</h2>
<%# Alleen voor beheerders %>
<% if can? :manage, User %>
  <p class="index-new"><%= link_to 'Nieuwe gebruiker', new_user_path %></p>
<% end %>

<table class="index-table">
  <thead>
    <tr>
      <%# Alleen zichtbaar voor medewerkers en beheerders %>
      <% if can? :manage, Course %>
        <th>Email</th>
      <% end %>
      <th>Voornaam</th>
      <th>Tussenvoegsel</th>
      <th>Achternaam</th>
      <th>Rol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# Gebruikers per gebruiker weergegeven %>
    <% @users.each do |user| %>
      <%# Als gebruiker de huidige gebruiker is %>
      <% if user == current_user %>
        <tr class="blue">
      <% else %>
        <tr>
      <% end %>
      <%# Alleen zichtbaar voor medewerkers en beheerders %>
      <% if can? :manage, Course %>
          <td><%= user.email %></td>
        <% end %>
        <td><%= user.voornaam %></td>
        <td><%= user.tussenvoegsel %></td>
        <td><%= user.achternaam %></td>
        <td>
          <%# Rol toewijzen aan een gebruiker %>
          <% if user.has_role? :admin %>
          <p class="beheerder">Beheerder</p>
          <% elsif user.has_role? :teacher %>
          <p class="medewerker">Medewerker</p>
          <% elsif user.has_role? :cursist %>
          <p class="cursist">Cursist</p>
          <% end %>
        </td>
        <td><%= link_to 'Bekijk', user %></td>

        <%# Wijzig en verwijder knoppen alleen zichtbaar voor beheerders %>
        <% if can? :manage, :all %>
          <td><%= link_to 'Wijzig', edit_user_path(user) %></td>
          <td><%= link_to 'Verwijder', user, method: :delete, data: { confirm: 'Weet u het zeker?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
