<table>
  <!-- Can the current user manage users, if yes then the user role is visible -->
  <% if can? :manage, User %>
    <tr>
      <td><strong>Rol:</strong></td>
      <td>
        <% if @user.has_role? :admin %>
          Admin
        <% elsif @user.has_role?(:teacher) %>
          Medewerker
        <% elsif @user.has_role?(:cursist) %>
          Cursist
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Email:</strong></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td><strong>Voornaam:</strong></td>
    <td><%= @user.voornaam %></td>
  </tr>
  <tr>
    <td><strong>Tussenvoegsel:</strong></td>
    <td><%= @user.tussenvoegsel %></td>
  </tr>
  <tr>
    <td><strong>Achternaam:</strong></td>
    <td><%= @user.achternaam %></td>
  </tr>
  <tr>
    <td><strong>Adres:</strong></td>
    <td><%= @user.adres %></td>
  </tr>
  <tr>
    <td><strong>Woonplaats:</strong></td>
    <td><%= @user.woonplaats %></td>
  </tr>
  <tr>
    <td><strong>Telefoon:</strong></td>
    <td><%= @user.telefoon %></td>
  </tr>
</table>

<!-- Back path - looking if the current user can manage users -->
<% if can? :manage, User %>
  <%= link_to 'Terug', users_path %>
<% else %>
  <%= link_to 'Terug', :home %>
<% end %>

<!-- Edit path - can the current user update or manage users -->
<% if (can? :manage, User) || (can? :update, User) %>
  | <%= link_to 'Wijzig', edit_user_path(@user) %>
<% end %>

<!-- Delete path - can the current user delete (himself), otherwise the delete button won't be visible for himself (normally the delete button is on the users page) -->
<% if can? :destroy, User %>
  | <%= link_to 'Verwijder', @user, method: :delete, data: { confirm: 'Weet u het zeker?' } %>
<% end %>
