<table>
  <%# Alleen zichtbaar voor beheerders %>
  <% if can? :manage, :all %>
    <tr>
      <td><strong>Rol:</strong></td>
      <td>
        <%# Rol van de gebruiker + gelijk omzetting van array naar string %>
        <% user_role_custom = @user.roles.pluck(:name).to_s  %>
        <%# Resultaat van hierboven strippen van blokhaken [] en aanhalingstekens" + hoofdletter van het eerste karakter %>
        <%= user_role_custom.tr!('["]','').titleize %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Email:</strong></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td><strong>Voornaam:</strong></td>
    <td><%= @user.voornaam %></td>
  </tr>
  <tr>
    <td><strong>Tussenvoegsel:</strong></td>
    <td><%= @user.tussenvoegsel %></td>
  </tr>
  <tr>
    <td><strong>Achternaam:</strong></td>
    <td><%= @user.achternaam %></td>
  </tr>
  <tr>
    <td><strong>Adres:</strong></td>
    <td><%= @user.adres %></td>
  </tr>
  <tr>
    <td><strong>Woonplaats:</strong></td>
    <td><%= @user.woonplaats %></td>
  </tr>
  <tr>
    <td><strong>Telefoon:</strong></td>
    <td><%= @user.telefoon %></td>
  </tr>
</table>

<%# Alleen voor beheerders %>
<% if can? :manage, :all %>
<br />
<h3>Cursussen</h3>
  <table class="bottom-margin index-table">
    <thead>
      <%# Aantal gebruiker aanmeldingen %>
      Aantal inschrijvingen: <strong><%= @user.courses_users.count %></strong>
      <%# Kijken of er uberhaupt wel een gebruiker aanmelding aanwezig is %>
      <% if @user.courses_users.count != 0 %>
        <tr>
          <th>Naam</th>
          <th>Begindatum</th>
          <th>Einddatum</th>
          <th>Moment van aanmelding</th>
        </tr>
      </thead>
      <tbody>
        <%# Geeft alle gebruikers weer per stuk %>
        <% @user.courses.each do |u| %>
        <tr>
          <td><%= u.course_type.name %></td>
          <td><%= u.begindatum %></td>
          <td><%= u.einddatum %></td>
          <td><%= friendly_date_long u.created_at %></td>
          <td></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<%# Terug pad - kijkt of de gebruiker een beheerder is %>
  <%= link_to 'Terug', users_path %>
<% else %>
  <%= link_to 'Terug', :home %>
<% end %>

<%# Wijzig pad - kijkt of de gebruiker een beheerder is of een gebruiker kan updaten %>
<% if (can? :manage, :all) || (can? :update, User) %>
  | <%= link_to 'Wijzig', edit_user_path(@user) %>
<% end %>

<%# Verwijder pad - kan de gebruiker zichzelf verwijderen,  normaliter is deze knop zichtbaar op de overzichtspagina van gebruikers (echter is deze niet toegankelijk voor een ieder) %>
<% if can? :destroy, User %>
  | <%= link_to 'Verwijder', @user, method: :delete, data: { confirm: 'Weet u het zeker?' } %>
<% end %>
