<% if @course != nil %>
  <%= form_for(@course) do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>
        <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <table>
      <tr class="field">
        <td><%= f.label :naam %></td>
        <td><%= f.text_field :naam %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :begindatum %></td>
        <td><%= f.date_select :begindatum, order: [:day, :month, :year], prompt: { day: Date.today.day, month: Date.today.month, year: Date.today.year } %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :einddatum %></td>
        <td><%= f.date_select :einddatum, order: [:day, :month, :year], prompt: { day: Date.today.day, month: Date.today.month, year: Date.today.year } %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :cursusduur %></td>
        <td><%= f.text_field :cursusduur %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :prijs %></td>
        <td><%= f.text_field :prijs %></td>
      </tr>
    <tr class="actions">
      <td></td>
      <td><%= f.submit "Toepassen" %></td>
    </tr>
    </table>
  <% end %>
<% end %>
