<%# Controle of er wel een cursus is %>
<% if @course != nil %>
  <%= form_for(@course) do |f| %>
    <%# Als er een fout is dan foutmelding weergave %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
        <ul>
          <%# Alle foutmeldingen per foutmelding %>
          <% @course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <table>

      <tr class="field">
        <td><%= f.label :soort_cursus %><strong>*</strong></td>
        <td><%= f.collection_select :course_type_id, CourseType.order(:name),:id,:name %></td>
      </tr>
      <%# Datums gesorteerd op dag, maand, jaar %>
      <tr class="field">
        <td><%= f.label :begindatum %><strong>*</strong></td>
        <td><%= f.date_select :begindatum, order: [:day, :month, :year], prompt: { day: "Dag", month: "Maand", year: "Jaar" } %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :einddatum %><strong>*</strong></td>
        <td><%= f.date_select :einddatum, order: [:day, :month, :year], prompt: { day: "Dag", month: "Maand", year: "Jaar" } %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :cursusduur %><strong>*</strong></td>
        <td><%= f.text_field :cursusduur %></td>
      </tr>
      <tr class="field">
        <td><%# f.label :prijs %></td>
        <td><%# f.text_field :prijs %></td>
      </tr>
    <tr class="actions">
      <td></td>
      <td><%= f.submit "Toepassen" %></td>
    </tr>
    </table>
  <% end %>
<% end %>
