<%# app/views/students/index.html.erb %>
<h2 class="index-title">Overzicht van cursussen</h2>
<%# Alleen voor medewerkers & beheerders %>
<% if can? :manage, Course %>
  <p class="index-new"><%= link_to 'Nieuwe cursus', new_course_path %></p>
<% end %>

<%# Filters voor cursussen %>
<%= form_for_filterrific @filterrific do |f| %>
<div class="loading"><%= render_filterrific_spinner %></div>
  <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
  <div id="filters">
    <!-- <div class="filter"><b>Sorteer</b> <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %></div> -->
    <div class="filter"><b>Begindatum</b> <%= f.text_field(:with_begindatum, class: 'js-datepicker') %></div>
    <div class="filter"><b>Einddatum</b> <%= f.text_field(:with_einddatum, class: 'js-datepicker') %></div>
    <!-- <div class="filter"><b>Zoek</b> <%= f.text_field(:search_query, class: 'filterrific-periodically-observed') %></div> -->
    <%# add an automated spinner to your form when the list is refreshed %>
    <div class="filter"><%= link_to('Reset filters', reset_filterrific_url,) %></div>
  </div>
<% end %>

<%# Binnenhalen van de curssusenlijst %>
<%= render(partial: 'courses/list', locals: { courses: @courses }) %>
