<p>
  <strong>Naam:</strong>
  <%= @course.naam %>
</p>

<p>
  <strong>Begindatum:</strong>
  <%= @course.begindatum %>
</p>

<p>
  <strong>Einddatum:</strong>
  <%= @course.einddatum %>
</p>

<p>
  <strong>Cursusduur:</strong>
  <%= @course.cursusduur %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
