<p>
  <strong>Naam:</strong>
  <%= @course.naam %>
</p>

<p>
  <strong>Begindatum:</strong>
  <%= @course.begindatum %>
</p>

<p>
  <strong>Einddatum:</strong>
  <%= @course.einddatum %>
</p>

<p>
  <strong>Cursusduur:</strong>
  <%= @course.cursusduur %>
</p>

<% if can? :manage, Course %>
  <%= link_to 'Wijzig', edit_course_path(@course) %> |
<% end %>
<%= link_to 'Terug', courses_path %>
