<!DOCTYPE html>
<html>
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="style.css" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <!-- Scripts -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Page title -->
    <meta charset="utf-8">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>

    <title>Omega Opleidingscentrum</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Menu -->
    <section id="menu">
      <section class="menu">
        <ul>
          <li><%= link_to("Home", :home) %></li>
          <li><%= link_to("Curcussen", { action: "index", :controller => "courses"}) %></li>
          <li><%= link_to("Gebruikers", { action: "index", :controller => "users"}) %></li>
          <li><%= link_to("Contact", :contact) %></li>
        </ul>
        <p>© <%= Date.today.year %> Omega</p>
      </section>
    </section>


    <!-- Header -->
    <section id="header">
      <section class="head">
        <section class="head-logo">
          <!-- Logo image -->
          <img src="/assets/logo.png" />
          <!-- page title -->
          <h1>Opleidingsinstituut Omega</h1>
        </section>
        <section class="head-login">

          <!-- Login form -->
          <% if current_user %>
          <% if current_user.voornaam != nil %>
          <p>
            <%= current_user.voornaam %>
            <% if current_user.tussenvoegsel != nil && current_user.achternaam != nil %>
            <%= current_user.tussenvoegsel %>
            <%= current_user.achternaam %><% end %>
          </p>
          <% else %>
          <p><%= current_user.email %></p>
          <% end %>
          <%= link_to "Edit Profile", edit_user_path(current_user.id) %> |
          <%= link_to "Logout", :logout, method: :post %>
          <% else %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Login", :login %>
          <% end %>
        </section>
      </section>
    </section>

    <!-- Main -->
    <section id="content">
      <section class="content">
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>

        <!-- Content depending on the page -->
        <%= yield %>
      </section>
    </section>

</body>
</html>
